@mixin background-img($url, $color: #FFFFFF) {
  position: relative;
  background: $color url("#{$url}") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

@mixin background-img-bottom($url, $color: #FFFFFF) {
  position: relative;
  background: $color url("#{$url}") center bottom;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

@mixin shadow($color, $px:2px, $amt:5) {
  text-shadow: $px $px darken($color, $amt);
}